.heading_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading_text {
  color: rgba(0, 0, 0, 0.208);
}
.heading_line {
  margin-left: 3%;
  width: 85%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.084);
}
