.bch_container {
  position: absolute;
  top: 60%;
  width: 80%;
  left: 10%;
  z-index: 700;
  background-color: white;
  border-radius: 50px;
  overflow-x: hidden;
  @media (max-width: 1024px) {
    width: 98%;
    left: 1%;
    border-radius: 50px;
  }
  @media (max-width: 400px) {
    width: 100%;
    left: 0%;
    border-radius: 50px;
  }
}
