@import "../../../variables/variable";
.appCard_container {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px 5px 30px 20px;
  padding: 20px 10px 20px 10px;
  border-radius: 20px;
  width: 140px;
  box-shadow: rgba(0, 0, 0, 0.077) 0 4px 5px;
  transform: scale(1);
  transition: transform ease-in-out 100ms;
}
.appCard_container:hover {
  transform: scale(1.05);
  transition: transform ease-in-out 100ms;
}

.deleteCard_icon {
  position: absolute;
  top: -15px;
  right: -18px;
  width: 10px;
  height: 10px;
  padding: 5px;
  border-radius: 50px;
  background-color: #ff676c;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.deleteCard_icon:hover {
  cursor: pointer;
}
.deleteCard_icon:active {
  transform: scale(0.8);
}
