.headerContent_container {
  position: absolute;
  top: 18%;
  width: 100%;
  z-index: 600;
  //   background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: top 1s ease-in-out;
}

.headerContent_container_subtitle {
  width: 700px;
  text-align: center;
  @media (max-width: 730px) {
    width: 480px;
  }
  @media (max-width: 480px) {
    width: 340px;
    font-size: 15px;
  }
}
