.imageCard_container {
  //   position: absolute;
  //   top: -30%;
  //   z-index: 1000;
}

.imgCard {
  width: 300px;
  height: 200px;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.153) 0px 5px 5px;
}
