.slider_class_carousel {
  //   padding: 5px;
}

.item_class_test {
  //   padding: 5px;
}

.anothertest {
  //   display: flex;
  //   align-items: center;
}

.carousel-container {
  width: 75%;
  margin: auto;
  padding: 20px;
}
